<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Table</title>
</head>
<body>

<table th:fragment="student-table(students)" class="table">
    <thead>
    <tr>
        <th class="table-header-cell table-horizontal-cell">Matricule</th>
        <th class="table-header-cell table-horizontal-cell">Nom</th>
        <th class="table-header-cell table-horizontal-cell">Genre</th>
        <th class="table-header-cell table-horizontal-cell">Section</th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="student : ${students}" class="table-body-row">
        <td th:text="${student.number}" class="table-horizontal-cell">number</td>
        <td th:text="${student.name}" class="table-horizontal-cell">name</td>
        <td th:text="${student.gender}" class="table-horizontal-cell">gender</td>
        <td th:text="${student.section}" class="table-horizontal-cell">section</td>
    </tr>
    </tbody>
</table>
</body>
</html>