<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
</head>
<body>
<main layout:fragment="content">
    <h2 class="content-title">Liste des étudiants</h2>
    <table th:replace="~{/fragments/student-table::student-table(students=${students})}"></table>
</main>
</body>
</html>